.hero-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.hero-text {
  position: relative;
  margin-bottom: 1rem;
  z-index: 10;
  flex: 1 1 auto;
  min-width: 370px;
  left: 15%;
}

.hero-text h2 {
  line-height: 1.1;
  margin: 0;
}

.hero-image {
  margin-top: 0;
  padding-left: 0;
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 767px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }

  .hero-text {
    position: relative;
    top: auto;
    left: 0;
    padding-top: 1rem;
    text-align: center !important;
  }

  .hero-text h2 {
    line-height: 3.5rem !important;
    transform: none !important;
    top: 0;
    left: 0;
  }

  .hero-image {
    margin-top: 0;
    width: 100%;
    height: auto;
    padding: 0 0 2rem 0;
  }
}